# Shared
REVALIDATION_SECRET=change-me

# Local development
GRAPHQL_API_URL=http://localhost:1337/graphql
NEXT_PUBLIC_GRAPHQL_API_URL=http://localhost:1337/graphql

RESEND_API_KEY=
CONTACT_TO_EMAIL=
CONTACT_FROM_EMAIL=
