# Shared
REVALIDATION_SECRET=change-me

# Local development
GRAPHQL_API_URL=http://localhost:1337/graphql
NEXT_PUBLIC_GRAPHQL_API_URL=http://localhost:1337/graphql

# Staging example
# GRAPHQL_API_URL=https://strapi-staging.onrender.com/graphql
# NEXT_PUBLIC_GRAPHQL_API_URL=https://strapi-staging.onrender.com/graphql

RESEND_API_KEY=
CONTACT_TO_EMAIL=
CONTACT_FROM_EMAIL=
